#to install all this requirements
#`pip install -r requirements.txt`
# Primary dependencies for scientific computing and computer vision
numpy==1.26.4          # Found to be a compatible version for older PyTorch and other dependencies.
scipy>=1.4.1           # Required for scientific and technical computing.
chumpy>=0.70           # A library for solving optimization problems (often used in computer graphics).
opencv-python==4.5.5.64# Core computer vision library (`cv2`). We had to downgrade it for compatibility.
scikit-image>=0.15     # For advanced image processing (`skimage`).

# Core deep learning frameworks and utilities
torch                  # for compatible with pytorch3d
torchvision            # PyTorch's computer vision library for models and datasets.

# Project-specific and specialized dependencies
face-alignment==1.3.4  # A library for facial landmark detection. We downgraded to a compatible version.
yacs==0.1.8            # For handling project configuration.
kornia==0.4.0          # A library for differentiable computer vision.

# Dependencies for PyTorch3D
ninja                  # A build system that speeds up compilation.
fvcore                 # A lightweight core library for computer vision research.
trimesh
loguru